<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
<div class="container text-center mt-5" >


    <div ><h3>Class data</h3></div>
    
    <table class="table mt-5">
        <tr> <th>Lib ID</th>
       
        <th>Class Date</th>
       
     
        <th>Medium</th>
        <th>Video Link1</th>
         <th>Class Week1</th>
           <th>Video Link2</th>
          <th>Class Week2</th>
            <th>Video Link3</th>
           <th>Class Week3</th>
             <th>Video Link4</th>
            <th>Class Week4</th>
             <th>Video Link5</th>
            <th>Class Week5</th>
         <th>Assigment</th>
        <th>Delete</th>
        </tr>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{this.id}}</td>
             
                <td>{{this.date}}</td>
                
               
                <td>{{this.medium}}</td>
                <td>{{this.video1}}</td>
                 <td>{{this.week1}}</td>
                  <td>{{this.video2}}</td>
                  <td>{{this.week2}}</td>
                   <td>{{this.video3}}</td>
                   <td>{{this.week3}}</td>
                    <td>{{this.video4}}</td>
                    <td>{{this.week4}}</td>
                      <td>{{this.video5}}</td>
                    <td>{{this.week5}}</td>
                 
                  <td>{{this.submit}}</td>
               <td> <button class="del btn btn-danger" name="delete" onClick="window.location.reload();" >Delete</button></td>
                

            </tr>
            {{/each}}
            
        </tbody>

       
    </table>
     <div class="text-center mt-5"> 
        <input type="int" name="id" class="ino" id="ino" placeholder="Enter id">
        <select class="browser-default custom-select col-sm-2 mt-4" name="note" id="setnote" class="setnote">
          <option value="week1">week1</option>
           <option value="week2">week2</option>
            <option value="week3">week3</option>
           <option value="week4">week4</option>
            <option value="week5">week5</option>
        
            
      </select>
 <input type="text" name="addnote" class="note" id="note" placeholder="Add note"> 
        <div class="text-center mt-5"> <select class="browser-default custom-select col-sm-2 mt-4" name="video" id="setvideo" class="setvideo">
          <option value="video1">Video1</option>
           <option value="video2">Video2</option>
            <option value="video3">Video3</option>
           <option value="video4">Video4</option>
            <option value="video5">Video5</option>
        </div>
            
      </select>
      <input type="text" name="addvideo" class="video" id="video" placeholder="Add video"> 

                <button type="button" class= "upd btn btn-primary" name="update" id="upd" onClick="window.location.reload();">Update</button>
              

</div>


</div>

    
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.del').click(function(){

        var ino=$(this).parent().parent().children().first().html();
        $.ajax({
            type:'post',
            url:'/deleteg10sin',
            data:{id:ino},
            success:function(data){

            }

        });
    });
    $(".upd").click(function(){
         var ino=$('.ino').val();
        var setnote = $( '#setnote' ).val();
        var setvideo = $( '#setvideo' ).val();
        var note = $('.note').val();
        var video =$('.video').val();
        
      
          $.ajax({
            type:'post',
            url:'/update_g10sin',
            data:{std_id:ino,setnote:setnote,setvideo:setvideo,note:note,video:video},
            success:function(data){

            }

        });
        
    });

</script>

